<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <header>
      <h1>Langara Pizza</h1>
      <p class="tagline">Validation Failed</p>
    </header>
  
    <div class="errors">
      <h2>Fix these errors:</h2>
      <dl>
        <% errors.forEach(error => { %>
          <dt><%= error.field %></dt>
          <dd><%= error.message %></dd>
        <% }); %>
      </dl>
    </div>
  </body>
  
</html>
