<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Success</title>
        <link rel="stylesheet" href="/style.css"> 
    </head>

    <body>
        <header>
          <h1>Langara Pizza</h1>
          <p class="tagline">Order Confirmed!</p>
        </header>
      
        <div class="confirmation">
          <h2>Thank you, <%= name %>!</h2>
          <p>A confirmation email has been sent to <strong><%= email %></strong>.</p>
        </div>
      </body>

</html>
